################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Clinic
/clinic_scheduler_gui_input.txt
/clinic_scheduler_gui_output.txt
